* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgb(0, 0, 0), grey);
    transition: background 0.3s;
}

header {
    background: linear-gradient(60deg, grey,black);
    position: absolute;
    top: 0;
    width: 12vh;
    height: 100%;
    z-index: 4;
    transition: background 0.3s, width 0.5s;
}

.logo {
    display: flex;
    width: 30%;
    float: left;
}

.logo a {
    display: flex;
    font-size: 3.5vh;
    color: whitesmoke;
    text-decoration: none;
}

.logo_img {
    padding-top: 2vh;
    height: 10vh;
    filter: brightness(0) invert(1);
    margin-left: 1.5vh;
    transition: filter 0.4s;
}

.logo_txt{
    color: whitesmoke;
    transition: color 1s;
    z-index: 1;
}

/* .logo_txt::after{
    content: '';
    display: block;
    background: linear-gradient(90deg, black, gray);
    position: relative;
    bottom: 7vh;
    right: 2.2vh;
    z-index: -1;
    height: 11vh;
    width: 0vh;
    transition: all 0.5s ease-in-out;
}

.logo_txt:hover::after{
    width: 182vh;
} */

.logo_txt_dark{
    color: rgb(0, 0, 0);
}

.logo_img_dark {
    filter: brightness(0) invert(0);
}

.logo span {
    padding-top: 3vh;
    padding-left: 2vh;
    font-weight: 900;
}

.btnexp {
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 50%;
    border: none;
    background: antiquewhite;
    position: relative;
    top: 8%;
    left: 10vh;
    transition: left 0.5s;
}

.nav ul {
    position: relative;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lst {
    background: #373c48;
    padding: 3vh;
    height: 7.5vh;
    width: 7.5vh;
    margin-top: 2vh;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
    transition: width 0.4s, border-radius 0.4s;
}

.lst-light{
    background: linear-gradient(45deg, rgb(93, 93, 93), rgb(93, 93, 93), rgba(160, 160, 160, 0.747));
}

.lst a i{
    font-size: 2.5vh;
}

.lst a {
    color: antiquewhite;
    text-decoration: none;
    position: relative;
    bottom: 0.4vh;
    right: 0.4vh;
}

.txt {
    position: relative;
    bottom: 3vh;
    opacity: 0;
    left: 0.5vh;
    transition: opacity 0.2s, left 0.4s;
}

.btn {
    position: relative;
    bottom: 6.2vh;
    left: 5vh;
    padding: 0.4vh;
    width: 6vh;
    border-radius: 5vh;
    border: #23262e;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: background 0.3s, left 0.4s, opacity 1s;
}


button span {
    margin-left: 0.1vh;
    display: block;
    height: 2.1vh;
    width: 2.1vh;
    background: rgb(113, 116, 113);
    border-radius: 50%;
    transition: background 0.3s;
    transition: margin-left 0.3s;
}

.scroll{
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.sicky-bar{
    background: linear-gradient(-90deg, grey, rgb(0, 0, 0));
    height: 9vh;
    position: sticky;
    top: 0;
    cursor: pointer;
}

/* continue cinverting px to vh */
.content-dark{
    padding: 150px;
    padding-bottom: 30px;
    color: rgb(238, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    word-spacing: 5px;
    transition: color 0.4s;
}

.content-light{
    color: black;
}

.active {
    background: rgb(255, 242, 209);
}

.active span {
    background: goldenrod;
    margin-left: 19px
}

.light_body {
    background: #dcd9d1;
}

.light_hf {
    background: linear-gradient(180deg, rgb(133, 133, 133),#8a8a8a,#aaa8a39f)
}

.light_logo {
    filter: brightness(0);
}

.exp {
    width: 200px;
}

.expbtn {
    left: 185px;
    rotate: 180deg;
}

.expnav {
    width: 180px;
    border-radius: 10px;
}

.txtvisible {
    opacity: 100;
    left: 50px;
}

.btnmv {
    left: 110px;
    visibility: visible;
    opacity: 100;
}


/* social media element styling */

.social-media{
    margin-top: 50px;
}

.social-text{
    color: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#share{
    margin: auto;
    border-bottom: 1px solid goldenrod;
    width: 300px;
    font-size: 25px;
    transition: font-size 0.3s;
}
.social-media ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    list-style: none;
    background-color: #23262e;
    padding: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: antiquewhite;
    transition: width 0.2s, heigth 0.2s, background-color 0.3s;
}

.icon:hover{
    background-color: #3f4453;
    color: goldenrod;
}

#share:hover{
    font-size: 30px;
}

/* Footer styling */

.foot {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80%;
    margin: auto;
}

.foot ul{
    display: flex;
}

.foot ul li{
    position: relative;
    top: 20px;
    list-style: none;
    padding: 10px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
}
.foot ul img{
    position: relative;
    top: 20px;
    z-index: -1;
}

.foot ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: goldenrod;
    transition: all 0.3s ease-in-out;
}

.foot ul li a:hover::after{
    width: 100%;
}



.foot ul li a{
    color: antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
}

.foot ul li a:hover{
    color: goldenrod;
    
}
