* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #373c48;
    transition: background 0.3s;
}

header {
    background: #23262e;
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    transition: background 0.3s, width 0.5s;
}

.logo {
    display: flex;
    width: 30%;
    float: left;
}

.logo a {
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

#logo_img {
    padding-top: 9px;
    height: 70px;
    filter: brightness(0) invert(1);
    margin-left: 6px;
    transition: filter 0.4s;
}

.logo span {
    padding-top: 28px;
    padding-left: 15px;
    font-weight: 900;
}

.btnexp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background: antiquewhite;
    position: relative;
    top: 8%;
    left: 65px;
    transition: left 0.5s;
}

.nav ul {
    position: relative;
    left: px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lst {
    background: #373c48;
    padding: 20px;
    height: 50px;
    margin-top: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
    transition: width 0.4s, border-radius 0.4s;
}

.nav li a {
    color: antiquewhite;
    text-decoration: none;
    position: relative;
    bottom: 4px;
    right: 3px;
}

.txt {
    position: relative;
    bottom: 20px;
    opacity: 0;
    left: 30px;
    transition: opacity 0.2s, left 0.5s;
}

.btn {
    position: relative;
    bottom: 38px;
    left: 50px;
    padding: 3px;
    width: 40px;
    border-radius: 50px;
    border: #23262e;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: background 0.3s, left 0.4s, opacity 1s;
}


button span {
    margin-left: 1px;
    display: block;
    height: 14px;
    width: 14px;
    background: rgb(113, 116, 113);
    border-radius: 50%;
    transition: background 0.3s;
    transition: margin-left 0.3s;
}

.content {
    padding: 150px;
    padding-bottom: 30px;
}

.active {
    background: rgb(255, 242, 209);
}

.active span {
    background: goldenrod;
    margin-left: 19px
}

.light_body {
    background: #dcd9d1;
}

.light_hf {
    background: #aaa8a3;
}

.light_logo {
    filter: brightness(0);
}

.exp {
    width: 200px;
}

.expbtn {
    left: 185px;
}

.expnav {
    width: 180px;
    border-radius: 10px;
}

.txtvisible {
    opacity: 100;
    left: 50px;
}

.btnmv {
    left: 110px;
    visibility: visible;
    opacity: 100;
}


/* social media element styling */

.social-media{
    margin-top: 50px;
}

.social-text{
    color: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#share{
    margin: auto;
    border-bottom: 1px solid goldenrod;
    width: 300px;
    font-size: 25px;
    transition: font-size 0.3s;
}
.social-media ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    list-style: none;
    background-color: #23262e;
    padding: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: antiquewhite;
    transition: width 0.2s, heigth 0.2s, background-color 0.3s;
}

.icon:hover{
    background-color: #3f4453;
    color: goldenrod;
}

#share:hover{
    font-size: 30px;
}

/* Footer styling */

.foot {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80%;
    margin: auto;
}

.foot ul{
    display: flex;
}

.foot ul li{
    position: relative;
    top: 20px;
    list-style: none;
    padding: 10px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
}
.foot ul img{
    position: relative;
    top: 20px;
    z-index: -1;
}

.foot ul li a{
    color: antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
}

.foot ul li a:hover{
    color: goldenrod;
}
