@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
}
#time {
  position: relative;
  top: 100px;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 20px;
}

.logo img {
  width: 55px;
}


.wrapper {
  background: #fff;
  max-width: 700px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.welcome header {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  bottom: 67px;
  left: 438px;
}

.welcome ul {
  display: flex;
}

.welcome ul li a {
  position: relative;
  left: 575px;
  bottom: 32px;
  background: rgb(217 214 214);
  cursor: pointer;
  display: block;
  height: 0px;
  width: 0px;
  border-radius: 6px;
  padding: 4px;
  margin: 6px;
}

.welcome ul li a.active {
  background-color: #333;
}

.welcome ul li {
  list-style: none;
}

.welcome div a {
  color: #09abf7;
  cursor: pointer;
  position: relative;
  bottom: 82px;
  left: 543px;
  font-weight: 300;
  font-size: 18px;
}

.welcome div a:hover {
  color: hsl(199, 67%, 66%);
  text-shadow: #000;
  text-decoration: underline rgb(168, 167, 167);
}


/* Login & Signup Form CSS Start */
.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  width: 270px;
  position: relative;
  padding-bottom: 10px;
  padding-left: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 0px 0;
  position: relative;
  left: 300px;
  bottom: 35px;
  border-left: 1px solid black;
}

.form form .error-text {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.form form .name-details {
  display: flex;
}

.form .name-details .field:first-child {
  margin-right: 10px;
}

.form .name-details .field:last-child {
  margin-left: 10px;
  position: relative;
  right: 184px;
}

.form form .field {
  display: flex;
  margin-bottom: 10px;
  margin-left: 100px;
  flex-direction: column;
  position: relative;
  right: 53px;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .input input {
  height: 34px;
  width: 50%;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form form .field input {
  outline: none;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  height: 37px;
  width: 269px;
  border: none;
  color: #fff;
  font-size: 16px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}

.form form .button input:hover {
  background: rgb(70, 69, 69);
}

.form form .field i {
  position: relative;
  left: 236px;
  bottom: 17px;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}

.form form .field i.active::before {
  color: #333;
  content: "\f070";
}

.form .link {
  text-align: center;
  position: relative;
  bottom: 30px;
  right: 22px;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: #0043ff;
}

.form .link a:hover {
  text-decoration: underline;
}


/* Users List CSS Start */
.users {
  padding: 25px 30px;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.users header img {
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}

:is(.users, .users-list) .content .details {
  color: #000;
  margin-left: 20px;
}

:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 43px;
  width: calc(100% - 55px);
  border: 1px solid #e6e6e6;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}



.users .search button {
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #333;
  background: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.users .search button.active {
  color: #fff;
  background: #333;
}

.users .search input.active {
  opacity: 1;
  pointer-events: auto;
}

.users .search button:hover {
  background: rgb(82, 82, 82);

}

.users .search input.show {
  opacity: 1;
  pointer-events: auto;
}

.search button.active i::before {
  content: '\f00d';
}

.users-list {
  max-height: 250px;
  overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  display: block;
  padding-bottom: 10px;
  page-break-after: 10px;
  margin-bottom: 15px;
  padding-right: 15px;
}

.users-list a div.content {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(214, 213, 213);
}

.users-list a:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.users-list a img {
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.users-list a .details p {
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
  padding-left: 49px;
}

.users-list a .status-dot.offline {
  color: #ccc;
}

/* Chat Area CSS Start */

.chat-area{
  box-shadow: 0 76px 128px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  height: 62px;
}

.chat-area header .back-icon {
  color: #333;
  font-size: 18px;
}

.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

.chat-area header .details span {
  font-size: 17px;
  font-weight: 500;
}

.chat-box {
  height: 500px;
  background: #f7f7f7;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
  overflow-y: auto;
}

.chat-box .text {
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
  display: flex;
}

.chat-box .outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 100px);
}

.outgoing .details p {
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}

.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.chat-box .incoming .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.incoming .details p {
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}

.typing-area {
  padding: 10px 30px;
  height: 65px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.typing-area button {
  color: #fff;
  width: 55px;
  height: 44px;
  border: none;
  outline: none;
  background-color: #000;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}

.typing-area button span {
  font-size: 15px;
}

.typing-area button.active {
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 750px) {

  .logo {
    left: 63px;
    top: 60px;
  }

  .logo img {
    width: 45px;
  }

  .wrapper {
    max-width: 312px;
    width: 100%;
    height: 450px;
    position: absolute;
  }

  .form form {
    border-left: none;
    position: absolute;
    margin-left: -321px;
    bottom: 60px;
  }


  .form header {
    padding-left: 50px;
    font-size: 20px;
    padding-bottom: 5px;
  }

  .form .link {
    text-align: center;
    padding-top: 7px;
    position: relative;
    border-top: 1px solid black;
    top: 337px;
    left: 0px;
    font-size: 15px;
  }

  .form form .button input {
    margin-top: 13px;
    position: relative;
    right: 5px;
  }











  .form,
  .users {
    padding: 20px;
  }



  .form form .name-details {
    flex-direction: column;
  }

  .form .name-details .field:first-child {
    margin-right: 0px;
  }

  .form .name-details .field:last-child {
    margin-left: 0px;
  }

  .users header img {
    height: 45px;
    width: 45px;
  }

  .users header .logout {
    padding: 6px 10px;
    font-size: 16px;
  }

  :is(.users, .users-list) .content .details {
    margin-left: 15px;
  }

  .users-list a {
    padding-right: 10px;
  }

  .chat-area header {
    padding: 15px 20px;
  }

  .chat-box {
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }

  .chat-box .chat p {
    font-size: 15px;
  }

  .chat-box .outogoing .details {
    max-width: 230px;
  }

  .chat-box .incoming .details {
    max-width: 265px;
  }

  .incoming .details img {
    height: 30px;
    width: 30px;
  }

  .chat-area form {
    padding: 20px;
  }

  .chat-area form input {
    height: 40px;
    width: calc(100% - 48px);
  }

  .chat-area form button {
    width: 45px;
  }
}